{% extends "views/layouts/main.twig" %}
{% import "macro/forms.twig" as f %}

{% block content %}
<div class="row top-buffer">
  <form id="login-form" class="form-horizontal" method="POST">
    {{ f.errors(form) }}
    {{ f.pass(form, 'password') }}
    {{ f.pass(form, 'repeat') }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-info">Сменить пароль</button>
      </div>
    </div>
  </form>
</div>

{% endblock content %}

